iv{
border-radius: 5px;
}
#header {
z-index: 1;
position: absolute;
width: 100%;
margin-top: -20px;
height: 55px;
background-color:#f2f2f2;
margin-bottom: 10px;
}

.vertical-menu {
    width: 300px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: red;
    color: white;
}